.button {
  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--accent);
  width: 260px;
  height: 48px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.button:hover {
  cursor: pointer;
  border: 1px solid var(--blue);
}
.button,
.button:hover {
  transition: 0.5s ease-in;
}
