.wrapper {
  color: var(--accent);
  margin-top: 50px;
}
.title {
  color: var(--accent);
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
.desc {
  max-width: 800px;
  color: var(--accent);
  font-size: 18px;
  font-weight: 200;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.38;
  margin: 20px 0 10px;
}
.descBtn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 18px;
  transition: color ease-in-out 0.3s;
}
.descBtn:hover {
  cursor: pointer;
  color: var(--blue);
}
